In [1]:
import pyspark as ps

In [2]:
spark = (ps.sql.SparkSession.builder 
        .master("local[4]") 
        .appName("sparkSQL exercise") 
        .getOrCreate()
        )

In [3]:
sc = spark.sparkContext

In [4]:
ls

transactions.txt  users.txt
Untitled.ipynb    yelp_academic_dataset_business.json.gz

In [8]:
df =spark.read.json('yelp_academic_dataset_business.json.gz')

In [9]:
df.show(5)

+--------------------+--------------------+--------------------+-----------+--------------------+--------------------+----------+-----------+--------------------+-------------+-----+------------+-----+-----+--------+
|          attributes|         business_id|          categories|       city|        full_address|               hours|  latitude|  longitude|                name|neighborhoods| open|review_count|stars|state|    type|
+--------------------+--------------------+--------------------+-----------+--------------------+--------------------+----------+-----------+--------------------+-------------+-----+------------+-----+-----+--------+
|[,,,,,,,, true,,,...|vcNAWiLM4dR7D2nww...|[Doctors, Health ...|    Phoenix|4840 E Indian Sch...|[[17:00, 08:00], ...| 33.499313|-111.983758|   Eric Goldberg, MD|           []| true|           9|  3.5|   AZ|business|
|[true,,,,,,,,,,,,...|UsFtqoBl7naz8AVUB...|         [Nightlife]| Dravosburg|202 McClure St
Dr...|            [,,,,,,]| 40.350519|  -79.88693|        Clancy's Pub|           []| true|           4|  3.5|   PA|business|
|[,,,,,,,,,,,,,,,,...|cE27W9VPgO88Qxe4o...|[Active Life, Min...|Bethel Park|1530 Hamilton Rd
...|            [,,,,,,]|40.3568962|  -80.01591|Cool Springs Golf...|           []|false|           5|  2.5|   PA|business|
|[,,,,,,,,,,,,,,,,...|HZdLhv6COCleJMo7n...|[Shopping, Home S...| Pittsburgh|301 S Hills Vlg
P...|[[21:00, 10:00], ...|  40.35762|  -80.05998|    Verizon Wireless|           []| true|           3|  3.5|   PA|business|
|[true,,, full_bar...|mVHrayjG3uZ_RLHkL...|[Bars, American (...|   Braddock|414 Hawkins Ave
B...|[[20:00, 10:00],,...| 40.408735|-79.8663507|       Emil's Lounge|           []| true|          11|  4.5|   PA|business|
+--------------------+--------------------+--------------------+-----------+--------------------+--------------------+----------+-----------+--------------------+-------------+-----+------------+-----+-----+--------+
only showing top 5 rows

In [10]:
df.printSchema()

root
 |-- attributes: struct (nullable = true)
 |    |-- Accepts Credit Cards: string (nullable = true)
 |    |-- Accepts Insurance: boolean (nullable = true)
 |    |-- Ages Allowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: struct (nullable = true)
 |    |    |-- casual: boolean (nullable = true)
 |    |    |-- classy: boolean (nullable = true)
 |    |    |-- divey: boolean (nullable = true)
 |    |    |-- hipster: boolean (nullable = true)
 |    |    |-- intimate: boolean (nullable = true)
 |    |    |-- romantic: boolean (nullable = true)
 |    |    |-- touristy: boolean (nullable = true)
 |    |    |-- trendy: boolean (nullable = true)
 |    |    |-- upscale: boolean (nullable = true)
 |    |-- Attire: string (nullable = true)
 |    |-- BYOB: boolean (nullable = true)
 |    |-- BYOB/Corkage: string (nullable = true)
 |    |-- By Appointment Only: boolean (nullable = true)
 |    |-- Caters: boolean (nullable = true)
 |    |-- Coat Check: boolean (nullable = true)
 |    |-- Corkage: boolean (nullable = true)
 |    |-- Delivery: boolean (nullable = true)
 |    |-- Dietary Restrictions: struct (nullable = true)
 |    |    |-- dairy-free: boolean (nullable = true)
 |    |    |-- gluten-free: boolean (nullable = true)
 |    |    |-- halal: boolean (nullable = true)
 |    |    |-- kosher: boolean (nullable = true)
 |    |    |-- soy-free: boolean (nullable = true)
 |    |    |-- vegan: boolean (nullable = true)
 |    |    |-- vegetarian: boolean (nullable = true)
 |    |-- Dogs Allowed: boolean (nullable = true)
 |    |-- Drive-Thru: boolean (nullable = true)
 |    |-- Good For: struct (nullable = true)
 |    |    |-- breakfast: boolean (nullable = true)
 |    |    |-- brunch: boolean (nullable = true)
 |    |    |-- dessert: boolean (nullable = true)
 |    |    |-- dinner: boolean (nullable = true)
 |    |    |-- latenight: boolean (nullable = true)
 |    |    |-- lunch: boolean (nullable = true)
 |    |-- Good For Dancing: boolean (nullable = true)
 |    |-- Good For Groups: boolean (nullable = true)
 |    |-- Good For Kids: boolean (nullable = true)
 |    |-- Good for Kids: boolean (nullable = true)
 |    |-- Hair Types Specialized In: struct (nullable = true)
 |    |    |-- africanamerican: boolean (nullable = true)
 |    |    |-- asian: boolean (nullable = true)
 |    |    |-- coloring: boolean (nullable = true)
 |    |    |-- curly: boolean (nullable = true)
 |    |    |-- extensions: boolean (nullable = true)
 |    |    |-- kids: boolean (nullable = true)
 |    |    |-- perms: boolean (nullable = true)
 |    |    |-- straightperms: boolean (nullable = true)
 |    |-- Happy Hour: boolean (nullable = true)
 |    |-- Has TV: boolean (nullable = true)
 |    |-- Music: struct (nullable = true)
 |    |    |-- background_music: boolean (nullable = true)
 |    |    |-- dj: boolean (nullable = true)
 |    |    |-- jukebox: boolean (nullable = true)
 |    |    |-- karaoke: boolean (nullable = true)
 |    |    |-- live: boolean (nullable = true)
 |    |    |-- playlist: boolean (nullable = true)
 |    |    |-- video: boolean (nullable = true)
 |    |-- Noise Level: string (nullable = true)
 |    |-- Open 24 Hours: boolean (nullable = true)
 |    |-- Order at Counter: boolean (nullable = true)
 |    |-- Outdoor Seating: boolean (nullable = true)
 |    |-- Parking: struct (nullable = true)
 |    |    |-- garage: boolean (nullable = true)
 |    |    |-- lot: boolean (nullable = true)
 |    |    |-- street: boolean (nullable = true)
 |    |    |-- valet: boolean (nullable = true)
 |    |    |-- validated: boolean (nullable = true)
 |    |-- Payment Types: struct (nullable = true)
 |    |    |-- amex: boolean (nullable = true)
 |    |    |-- cash_only: boolean (nullable = true)
 |    |    |-- discover: boolean (nullable = true)
 |    |    |-- mastercard: boolean (nullable = true)
 |    |    |-- visa: boolean (nullable = true)
 |    |-- Price Range: long (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- Take-out: boolean (nullable = true)
 |    |-- Takes Reservations: boolean (nullable = true)
 |    |-- Waiter Service: boolean (nullable = true)
 |    |-- Wheelchair Accessible: boolean (nullable = true)
 |    |-- Wi-Fi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- city: string (nullable = true)
 |-- full_address: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: struct (nullable = true)
 |    |    |-- close: string (nullable = true)
 |    |    |-- open: string (nullable = true)
 |    |-- Monday: struct (nullable = true)
 |    |    |-- close: string (nullable = true)
 |    |    |-- open: string (nullable = true)
 |    |-- Saturday: struct (nullable = true)
 |    |    |-- close: string (nullable = true)
 |    |    |-- open: string (nullable = true)
 |    |-- Sunday: struct (nullable = true)
 |    |    |-- close: string (nullable = true)
 |    |    |-- open: string (nullable = true)
 |    |-- Thursday: struct (nullable = true)
 |    |    |-- close: string (nullable = true)
 |    |    |-- open: string (nullable = true)
 |    |-- Tuesday: struct (nullable = true)
 |    |    |-- close: string (nullable = true)
 |    |    |-- open: string (nullable = true)
 |    |-- Wednesday: struct (nullable = true)
 |    |    |-- close: string (nullable = true)
 |    |    |-- open: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- neighborhoods: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- open: boolean (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)
 |-- type: string (nullable = true)

In [11]:
df.createOrReplaceTempView('yelp_business')

In [12]:
df.show()

+--------------------+--------------------+--------------------+-----------+--------------------+--------------------+----------+-----------+--------------------+-------------+-----+------------+-----+-----+--------+
|          attributes|         business_id|          categories|       city|        full_address|               hours|  latitude|  longitude|                name|neighborhoods| open|review_count|stars|state|    type|
+--------------------+--------------------+--------------------+-----------+--------------------+--------------------+----------+-----------+--------------------+-------------+-----+------------+-----+-----+--------+
|[,,,,,,,, true,,,...|vcNAWiLM4dR7D2nww...|[Doctors, Health ...|    Phoenix|4840 E Indian Sch...|[[17:00, 08:00], ...| 33.499313|-111.983758|   Eric Goldberg, MD|           []| true|           9|  3.5|   AZ|business|
|[true,,,,,,,,,,,,...|UsFtqoBl7naz8AVUB...|         [Nightlife]| Dravosburg|202 McClure St
Dr...|            [,,,,,,]| 40.350519|  -79.88693|        Clancy's Pub|           []| true|           4|  3.5|   PA|business|
|[,,,,,,,,,,,,,,,,...|cE27W9VPgO88Qxe4o...|[Active Life, Min...|Bethel Park|1530 Hamilton Rd
...|            [,,,,,,]|40.3568962|  -80.01591|Cool Springs Golf...|           []|false|           5|  2.5|   PA|business|
|[,,,,,,,,,,,,,,,,...|HZdLhv6COCleJMo7n...|[Shopping, Home S...| Pittsburgh|301 S Hills Vlg
P...|[[21:00, 10:00], ...|  40.35762|  -80.05998|    Verizon Wireless|           []| true|           3|  3.5|   PA|business|
|[true,,, full_bar...|mVHrayjG3uZ_RLHkL...|[Bars, American (...|   Braddock|414 Hawkins Ave
B...|[[20:00, 10:00],,...| 40.408735|-79.8663507|       Emil's Lounge|           []| true|          11|  4.5|   PA|business|
|[true,,, full_bar...|KayYbHCt-RkbGcPdG...|[Bars, American (...|   Carnegie|141 Hawthorne St
...|            [,,,,,,]| 40.415517| -80.067534|Alexion's Bar & G...|  [Greentree]| true|          15|  4.0|   PA|business|
|[,,,,,,,,,,,,,,,,...|b12U9TFESStdy7CsT...|[Auto Repair, Aut...|   Carnegie|718 Hope Hollow R...|            [,,,,,,]| 40.394588|-80.0844539|Flynn's E W Tire ...|           []| true|           5|  1.5|   PA|business|
|[,,,,,,,,,,,,,,,,...|Sktj1eHQFuVa-M4bg...|[Active Life, Min...|   Carnegie|920 Forsythe Rd
C...|            [,,,,,,]|40.4054039|-80.0762665|Forsythe Miniatur...|   [Carnegie]| true|           4|  4.0|   PA|business|
|[,,,,,,,,,,,,,,,,...|3ZVKmuK2l7uXPE6lX...|[Home Services, C...|   Carnegie|8 Logan St
Carneg...|            [,,,,,,]| 40.406324| -80.090357|Quaker State Cons...|   [Carnegie]| true|           3|  2.5|   PA|business|
|[true,,, none,, c...|wJr6kSA5dchdgOdwH...|[Burgers, Breakfa...|   Carnegie|2100 Washington P...|[[02:00, 08:00], ...|40.3877323|-80.0928745|Kings Family Rest...|           []| true|           8|  3.5|   PA|business|
|[true,,,,,,,,,,,,...|yXuao0pFz1AxB21vJ...|     [Food, Grocery]|   Carnegie|2100 Washington P...|            [,,,,,,]|40.3877323|-80.0928745|         Shop N'save|           []| true|           3|  3.5|   PA|business|
|[true,,, full_bar...|fNGIbpazjTRdXgwRY...|[Bars, American (...|   Carnegie|1201 Washington A...|            [,,,,,,]|40.3964688|-80.0849416|      Rocky's Lounge|           []| true|           5|  4.0|   PA|business|
|[false,,, none, [...|b9WZJp5L1RZr4F1nx...|[Breakfast & Brun...|   Carnegie|1073 Washington A...|[[14:30, 06:00], ...|40.3967441|-80.0847998|           Gab & Eat|           []| true|          38|  4.5|   PA|business|
|[true,,, none, [f...|zaXDakTd3RXyOa7sM...|[Cafes, Restaurants]|   Carnegie|202 3rd Ave
Carne...|            [,,,,,,]| 40.404638| -80.089985|Barb's Country Ju...|   [Carnegie]| true|           5|  4.0|   PA|business|
|[true,,,,,,,,,,,,...|zgy27FSnvwdINfk5c...|[Hotels & Travel,...|   Carnegie|520 North Bell Av...|[[00:00, 00:00], ...| 40.417419| -80.088557|Extended Stay Ame...|   [Carnegie]| true|           5|  4.0|   PA|business|
|[true,,, full_bar...|WETE_LykpcnrC1sFc...|[Pubs, Irish, Nig...|   Carnegie|215 E Main St
Car...|            [,,,,,,]|  40.40867| -80.085279|  Paddy's Pour House|   [Carnegie]|false|           6|  3.5|   PA|business|
|[,,,,,,,,,,,,,,,,...|6o3RK6rTcN3nw-j-r...|                  []|   Carnegie|231 E Main St
Car...|            [,,,,,,]|40.4085677|-80.0849924|Porto Fino Pizzar...|   [Carnegie]| true|           4|  2.5|   PA|business|
|[false,,,,,,,,,,,...|woOVJ0Z2f6XNCDntH...|[Local Services, ...|   Carnegie|117 E Mall Plz
Ca...|[[19:00, 08:30], ...|40.4078889|  -80.08606|    Alteration World|   [Carnegie]| true|           5|  5.0|   PA|business|
|[true,,, none, [f...|rv7CY8G_XibTx82Yh...|       [Restaurants]|   Carnegie|Raceway Plz
Carne...|            [,,,,,,]|40.3868915|-80.0937037|  Long John Silver's|           []| true|           3|  3.5|   PA|business|
|[,,,,,,,, true,,,...|e_U_FnpdKVgNb4mUN...|[Health & Medical...|   Carnegie|2323 Greentree Rd...|            [,,,,,,]|  40.39076| -80.078657|  Weinberg Lisa, DMD|           []| true|           6|  2.0|   PA|business|
+--------------------+--------------------+--------------------+-----------+--------------------+--------------------+----------+-----------+--------------------+-------------+-----+------------+-----+-----+--------+
only showing top 20 rows

In [28]:
result = spark.sql("SELECT name, city, state, stars, attributes['Accepts Credit Cards'] FROM yelp_business LIMIT 10")
result.show()

+--------------------+-----------+-----+-----+-------------------------------+
|                name|       city|state|stars|attributes.Accepts Credit Cards|
+--------------------+-----------+-----+-----+-------------------------------+
|   Eric Goldberg, MD|    Phoenix|   AZ|  3.5|                           null|
|        Clancy's Pub| Dravosburg|   PA|  3.5|                           true|
|Cool Springs Golf...|Bethel Park|   PA|  2.5|                           null|
|    Verizon Wireless| Pittsburgh|   PA|  3.5|                           null|
|       Emil's Lounge|   Braddock|   PA|  4.5|                           true|
|Alexion's Bar & G...|   Carnegie|   PA|  4.0|                           true|
|Flynn's E W Tire ...|   Carnegie|   PA|  1.5|                           null|
|Forsythe Miniatur...|   Carnegie|   PA|  4.0|                           null|
|Quaker State Cons...|   Carnegie|   PA|  2.5|                           null|
|Kings Family Rest...|   Carnegie|   PA|  3.5|                           true|
+--------------------+-----------+-----+-----+-------------------------------+

- Rated at 5 stars
- In the city of Phoenix
- Accepts credit card (Reference the 'Accepts Credit Card' field by attributes.`Accepts Credit Cards`. NOTE: We are actually looking for the value 'true', not the boolean value True!)
- Contains Restaurants in the categories array.
- Hint 1 : LATERAL VIEW explode() can be used to access the individual elements of an array (i.e. the categories array). For reference, you can see the first example on this page.
- Hint 2: In spark, while using filter() or where(), you can create a condition that tests if a column, made of an array, contains a given value. The functions is pyspark.sql.functions.array_contains.

In [31]:
query = '''SELECT name, city, stars, attributes['Accepts Credit Cards'], categories
            FROM yelp_business
            Where stars=5.0 AND city = 'Phoenix' AND attributes['Accepts Credit Cards']='true'
 '''

small_table = spark.sql(query)
small_table.show()

+--------------------+-------+-----+-------------------------------+--------------------+
|                name|   city|stars|attributes.Accepts Credit Cards|          categories|
+--------------------+-------+-----+-------------------------------+--------------------+
|  DeChance & Company|Phoenix|  5.0|                           true|[Shopping, Jewelr...|
|     Sunshine Market|Phoenix|  5.0|                           true|     [Food, Grocery]|
|Conroy's Wholesal...|Phoenix|  5.0|                           true|[Flowers & Gifts,...|
|Blue Collar Clothing|Phoenix|  5.0|                           true|[Arts & Crafts, U...|
|        Sun Cellular|Phoenix|  5.0|                           true|[Local Services, ...|
| Umom New Day Center|Phoenix|  5.0|                           true|[Local Services, ...|
|       See's Candies|Phoenix|  5.0|                           true|[Food, Specialty ...|
|Movies On Central...|Phoenix|  5.0|                           true|[Videos & Video G...|
|Lovato's Hair Sty...|Phoenix|  5.0|                           true|[Hair Salons, Bar...|
|      By the Book Lc|Phoenix|  5.0|                           true|[Books, Mags, Mus...|
|          Econolight|Phoenix|  5.0|                           true|[Electricians, Ho...|
|Impact Printing S...|Phoenix|  5.0|                           true|[Local Services, ...|
|Desert Song Heali...|Phoenix|  5.0|                           true|[Active Life, Fit...|
|Central Phoenix E...|Phoenix|  5.0|                           true|[Shopping, Optome...|
| Alan Williams Salon|Phoenix|  5.0|                           true|[Hair Salons, Bea...|
|Floral Designs by...|Phoenix|  5.0|                           true|[Flowers & Gifts,...|
|Drumbeat Indian Arts|Phoenix|  5.0|                           true|[Art Supplies, Fl...|
|Burland Jewelry C...|Phoenix|  5.0|                           true| [Shopping, Jewelry]|
|Fastframe Expert ...|Phoenix|  5.0|                           true|[Arts & Crafts, S...|
|C & C Coin and Stamp|Phoenix|  5.0|                           true| [Shopping, Jewelry]|
+--------------------+-------+-----+-------------------------------+--------------------+
only showing top 20 rows

In [34]:
from pyspark.sql.functions import array_contains

In [42]:
filtered = small_table.where(array_contains("categories", "Restaurants"))

In [43]:
filtered.show()

+--------------------+-------+-----+-------------------------------+--------------------+
|                name|   city|stars|attributes.Accepts Credit Cards|          categories|
+--------------------+-------+-----+-------------------------------+--------------------+
|       Auslers Grill|Phoenix|  5.0|                           true|       [Restaurants]|
|Mulligan's Restau...|Phoenix|  5.0|                           true|       [Restaurants]|
|             Sunfare|Phoenix|  5.0|                           true|[Food Delivery Se...|
|              Subway|Phoenix|  5.0|                           true|[Fast Food, Sandw...|
|           Lil Cal's|Phoenix|  5.0|                           true|       [Restaurants]|
|                Ed's|Phoenix|  5.0|                           true|[American (Tradit...|
|Frenchys Caribbea...|Phoenix|  5.0|                           true|[Food, Hot Dogs, ...|
|           WY Market|Phoenix|  5.0|                           true|[American (Tradit...|
|       Pollo Sabroso|Phoenix|  5.0|                           true|[Fast Food, Ameri...|
|Queen Creek Olive...|Phoenix|  5.0|                           true|[Food, Specialty ...|
|Gluten Free Creat...|Phoenix|  5.0|                           true|[Bakeries, Food, ...|
|Panini Bread and ...|Phoenix|  5.0|                           true|[American (Tradit...|
|        One Eighty Q|Phoenix|  5.0|                           true|[Food, Barbeque, ...|
|Saffron JAK Origi...|Phoenix|  5.0|                           true|[Food, Pizza, Foo...|
|Los Primos Carnic...|Phoenix|  5.0|                           true|[Mexican, Restaur...|
| Bertie's Of Arcadia|Phoenix|  5.0|                           true|[Soup, Comfort Fo...|
|     Little Miss BBQ|Phoenix|  5.0|                           true|[Barbeque, Restau...|
|Las Jicaras Mexic...|Phoenix|  5.0|                           true|[Mexican, Restaur...|
|  Santos Lucha Libre|Phoenix|  5.0|                           true|[Mexican, Restaur...|
|   Taqueria El Chino|Phoenix|  5.0|                           true|[Mexican, Restaur...|
+--------------------+-------+-----+-------------------------------+--------------------+
only showing top 20 rows

## Advanced

In [44]:
users = spark.read.csv('users.txt',
                      header = False,
                      sep = ';',
                      inferSchema = True)

In [45]:
users.show(5)

+----------+-----------------+--------------------+--------------------+
|       _c0|              _c1|                 _c2|                 _c3|
+----------+-----------------+--------------------+--------------------+
|1106214172|Prometheus Barwis|prometheus.barwis...|      (533) 072-2779|
| 527133132|Ashraf Bainbridge|ashraf.bainbridge...|                null|
|1290614884|   Alain Hennesey|alain.hennesey@fa...|(942) 208-8460,(8...|
|1700818057| Hamed Fingerhuth|hamed.fingerhuth@...|                null|
|  17378782|    Annamae Leyte|annamae.leyte@msn...|                null|
+----------+-----------------+--------------------+--------------------+
only showing top 5 rows

In [46]:
users.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [ ]:
users= spark.read.csv('users.txt',
                      header = False,
                      sep = ';',
                      inferSchema = True)

In [101]:
transactions_rdd = sc.textFile('transactions.txt')

In [102]:
transactions_rdd.take(5)

['815581247;$144.82;2015-09-05',
 '1534673027;$140.93;2014-03-11',
 '842468364;$104.26;2014-05-06',
 '1720001139;$194.60;2015-08-24',
 '1397891675;$307.72;2015-09-25']

In [75]:
transactions_rdd =(sc.textFile('transactions.txt')
                   .map(lambda rowstr : rowstr.split(";"))
                   #.map(lambda rowstr: rowstr[1].replace("$",''))
                  )

In [76]:
transactions_rdd.take(5)

[['815581247', '$144.82', '2015-09-05'],
 ['1534673027', '$140.93', '2014-03-11'],
 ['842468364', '$104.26', '2014-05-06'],
 ['1720001139', '$194.60', '2015-08-24'],
 ['1397891675', '$307.72', '2015-09-25']]

In [ ]:
def casting_function(row):
    (id, date, store, state, product, amount) = row
    return (int(id), date, int(store), state, int(product), float(amount))
rdd_sales = (
    sc.textFile('data/sales.csv')
        .map(lambda rowstr : rowstr.split(","))
        .filter(lambda row: not row[0].startswith('#'))
        .map(casting_function)
            )
rdd_sales.collect()

In [97]:
def remove_dsign(row):
    row[1] = row[1].replace('$','')
    return row

def casting_function(row):
    (trans_id, cost, date) = row
    return (int(trans_id), float(cost), date)

transactions_rdd =(sc.textFile('transactions.txt')
                   .map(lambda rowstr : rowstr.split(";"))
                   .map(remove_dsign)
                   .map(casting_function)
                  )

transactions_rdd.take(5)

[(815581247, 144.82, '2015-09-05'),
 (1534673027, 140.93, '2014-03-11'),
 (842468364, 104.26, '2014-05-06'),
 (1720001139, 194.6, '2015-08-24'),
 (1397891675, 307.72, '2015-09-25')]

In [83]:
from pyspark.sql.types import *

In [98]:
# create a schema of your own
schema = StructType([
    StructField('trans_id',     IntegerType(), True),
    StructField('cost',  FloatType(), True),
    StructField('date',   StringType(),  True)
 ])
# feed that into a DataFrame
df = spark.createDataFrame(transactions_rdd, schema)

In [92]:
df.printSchema()

root
 |-- trans_id: integer (nullable = true)
 |-- cost: float (nullable = true)
 |-- date: string (nullable = true)

In [93]:
users.show(5)

+----------+-----------------+--------------------+--------------------+
|       _c0|              _c1|                 _c2|                 _c3|
+----------+-----------------+--------------------+--------------------+
|1106214172|Prometheus Barwis|prometheus.barwis...|      (533) 072-2779|
| 527133132|Ashraf Bainbridge|ashraf.bainbridge...|                null|
|1290614884|   Alain Hennesey|alain.hennesey@fa...|(942) 208-8460,(8...|
|1700818057| Hamed Fingerhuth|hamed.fingerhuth@...|                null|
|  17378782|    Annamae Leyte|annamae.leyte@msn...|                null|
+----------+-----------------+--------------------+--------------------+
only showing top 5 rows

In [100]:
df.show(5)

+----------+------+----------+
|  trans_id|  cost|      date|
+----------+------+----------+
| 815581247|144.82|2015-09-05|
|1534673027|140.93|2014-03-11|
| 842468364|104.26|2014-05-06|
|1720001139| 194.6|2015-08-24|
|1397891675|307.72|2015-09-25|
+----------+------+----------+
only showing top 5 rows

In [ ]:
df.createOrReplaceTempView('df')

In [104]:
query = '''SELECT _c1 as name, cost 
            FROM users
            RIGHT JOIN df ON users._c0 = df.trans_id
            ORDER BY cost DESC
            LIMIT 10
 '''

top_10 = spark.sql(query)
top_10.show()

AnalysisException: Table or view not found: users; line 2 pos 17;
'GlobalLimit 10
+- 'LocalLimit 10
   +- 'Sort ['cost DESC NULLS LAST], true
      +- 'Project ['_c1 AS name#707, 'cost]
         +- 'Join RightOuter, ('users._c0 = 'df.trans_id)
            :- 'UnresolvedRelation [users]
            +- 'UnresolvedRelation [df]